  body{
    background: linear-gradient(0deg,rgb(49, 19, 19) 0%, rgb(143, 26, 26));
    background-repeat: repeat-x;
    background-size: contain;
    height: 95vh;
    overflow: hidden;
    height: 100vh;
  }

  /* Estilo do texto */
  p, h1, h2, h3, ul, a, strong, #result, #playerHand, #cpuHand{
    color: white;
  }
  mark{
    background-color: red;
    border-radius: 3px;
    word-spacing: 3px;
  }
  header p, header h1, header h2, header h3, main p, main h1, main h2, main h3{
    width: 60%;
  }

  .falling-card {
  position: absolute;
  width: 100px;
  z-index: 1;
  transition: transform 0.1s linear;
  }

  nav ul{
    top: 10px;
    right: 10px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px rgba(0, 0, 0, 0.6);
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #main-image{
    position: absolute;
    bottom: 10px;
    right: 30%;
  }

  nav li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
  }

  /* Estilo do demo de Poker */
  #demo-de-poker{
    background-color: rgba(119, 119, 119, 0.4);
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
  }

  /* Container do jogo */
  #game-container {
    border: 2px solid #333;
    padding: 15px;
    width: max-content;
    font-family: Arial, sans-serif;
    background-color: #238b19;
    border-radius: 8px;
  }

  /* Exibição das mãos */
  #player-hand, #cpu-hand {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }

  /* Estilo das cartas */
  .card {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    user-select: none;
    cursor: default;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: relative;
    transition: background-color 0.3s;
  }
  .card.red {
    color: rgb(255, 0, 0);
  }
  .card.black {
    color: rgb(0, 0, 0);
  }
  .card.selectable {
    cursor: pointer;
  }
  .card.selected {
    background-color: rgb(233, 118, 118);
  }

  /* Estilo do verso das cartas */
  .face-escondida {
    color: transparent !important; /* esconde texto */
    cursor: default !important;
    background-color: #004080 !important;
    border-color: #002050 !important;
  }

  .face-escondida::after {
    content: '';
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    background: repeating-linear-gradient(
      45deg,
      #0066cc,
      #0066cc 4px,
      #004080 4px,
      #004080 8px
    );
    border-radius: 3px;
    z-index: -1;
  }

  /* Estilo dos botões */
  button {
    margin-right: 10px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
  }

  /* Texto do resultado */
  #result {
    font-weight: bold;
    font-size: 16px;
    min-height: 24px;
  }