  body{
    background: linear-gradient(0deg,rgb(138, 26, 26) 0%, rgb(85, 84, 84));
    background-repeat: repeat-x;
    background-size: contain;
    min-height: 120vh;
  }

  /* Estilo do texto */
  p, h1, h2, h3, ul, a, strong, #result, #playerHand, #cpuHand{
    color: white;
  }
  mark{
    background-color: red;
    color: white;
    border-radius: 3px;
    word-spacing: 3px;
  }
  header p, header h1, header h2, header h3, main p, main h1, main h2, main h3{
    width: 60%;
  }

  /* Estilo dos links */
  a:hover{
    color: red;
  }
  a:active{
    color:rgb(206, 0, 0);
  }

  /* Estilo da barra de links externos */
  #sidebar{
    position: sticky;
    top: 10px;
    right: 10px;
    position: absolute; 
    height: 100%
  }
  nav ul{
    position: sticky;
    top: 10px;
    right: 10px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 4mm ridge rgba(255, 255, 255, 0.6);
  }

  /* Estilo do demo de Poker */
  #demo-de-poker{
    background-color: rgba(255, 253, 253, 0.384);
    width: 40%;
    padding: 5px;
    border-radius: 5px;
  }

  /* Container do jogo */
  #game-container {
    border: 2px solid #333;
    padding: 15px;
    width: max-content;
    font-family: Arial, sans-serif;
    background-color: #1c610e;
    border-radius: 8px;
  }

  /* Exibição das mãos */
  #player-hand, #cpu-hand {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }

  /* Estilo das cartas */
  .card {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    user-select: none;
    cursor: default;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: relative;
    transition: background-color 0.3s;
  }
  .card.red {
    color: red;
  }
  .card.selectable {
    cursor: pointer;
  }
  .card.selected {
    background-color: rgb(100, 21, 21);
  }

  /* Estilo do verso das cartas */
  .face-escondida {
    color: transparent !important; /* esconde texto */
    cursor: default !important;
    background-color: #004080 !important;
    border-color: #002050 !important;
  }

  .face-escondida::after {
    content: '';
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    background: repeating-linear-gradient(
      45deg,
      #0066cc,
      #0066cc 4px,
      #004080 4px,
      #004080 8px
    );
    border-radius: 3px;
    z-index: -1;
  }

  /* Estilo dos botões */
  button {
    margin-right: 10px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
  }

  /* Texto do resultado */
  #result {
    font-weight: bold;
    font-size: 16px;
    min-height: 24px;
  }